[Unit]
Description=Run %i window ping every five hours

[Timer]
OnActiveSec=5h 2min
OnUnitActiveSec=5h 2min
Persistent=true
AccuracySec=30s
RandomizedDelaySec=0

[Install]
WantedBy=timers.target
