[Unit]
Description=Keyboard remapper (custom configuration)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=exec
ExecStartPre=/usr/bin/sleep 40
ExecStart=sh -c 'xremap-default --service'
Restart=always
RestartSec=3
SyslogIdentifier=xremap-emacs-browser
StandardOutput=append:%t/xremap.log
StandardError=inherit

[Install]
WantedBy=graphical-session.target
