[Unit]
Description=Keyboard remapper (custom configuration)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=exec
ExecStart=%h/.local/bin/xremap-default --service
Restart=always
RestartSec=3
SyslogIdentifier=xremap-emacs-browser

[Install]
WantedBy=graphical-session.target
