[defaults]
inventory = hosts
roles_path = roles
collections_path = .ansible/collections
vault_password_file = password_getter
host_key_checking = False
retry_files_enabled = False
gathering = smart
callback_result_format = yaml

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
