(oci-container-configuration
 (provision "sonarr")
 (image "ghcr.io/hotio/sonarr")
 (network "starrs_net")
 (ports (list '("{{ gak_sonarr_port }}" . "8989")))
 (volumes
  (list '("{{ gak_media_dir }}/.config/sonarr/config" . "/config")
        '("{{ gak_media_dir }}/Media" . "/Media")))
 (environment
  (list '("PUID" . "{{ gak_media_uid }}")
        '("PGID" . "{{ gak_media_gid }}")
        '("UMASK" . "002")
        '("TZ" . "{{ gak_timezone }}")))
 (extra-arguments
  (list "--uidmap" "0:1:1"
        "--gidmap" "0:1:1"
        "--gidmap" "{{ gak_media_gid }}:{{ gak_media_gid }}:1")))
