(oci-container-configuration
 (provision "sonarr")
 (image "{{ gak_sonarr_image }}")
 (requirement '(file-system-/media))
 (network "starrs_net")
 (ports (list '("{{ gak_sonarr_port }}" . "8989")))
 (volumes
  (list '("{{ gak_sonarr_dir }}/config" . "/config")
        '("{{ gak_media_dir }}/Media" . "/Media")))
 (environment
  (list '("PUID" . "{{ gak_media_uid }}")
        '("PGID" . "{{ gak_media_gid }}")
        '("UMASK" . "002")
        '("TZ" . "{{ gak_timezone }}")))
 (extra-arguments
  (list "--uidmap" "0:1:1"
        "--uidmap" "1:0:1"
        "--uidmap" "2:2:{{ gak_subid_count - 1 }}"
        "--gidmap" "0:1:1"
        "--gidmap" "1:0:1"
        "--gidmap" "2:2:{{ gak_subid_count - 1 }}"))
 (respawn? #t))
