$bar-bg: #222;
$neon-green: #76ee00;
$neron-fg: #a6a8a9;
$neron-current: #2f2f2f;

$neron-bg: #222222;
$neron-fg: #a6a8a9;
$neron-current: #2f2f2f;
$neron-comment: #bda38e;
$neron-cyan: #00bbb7;
$neron-green: #61bd09;
$neron-orange: #fd892c;
$neron-pink: #ff77cf;
$neron-purple: #a89bff;
$neron-red: #f88785;
$neron-yellow: #b8aa07;
$neron-blue: #69aaff;
$neron-cursor: #4455bb;
$neron-warning: #d2a022;

// alacritty
$neron-black: #414a44;
// $neron-blue = "#63abff"
// $neron-cyan = "#16b0cf"
// $neron-green = "#61bd00"
// $neron-magenta = "#ff77ce"
// $neron-red = "#f88785"
// $neron-white = "#929595"
// $neron-yellow = "#b8aa07"

$middle-gray: #808080;
$current-icon: #666666;
