@import "dark-colors.scss";

@import "swaync.scss";

$current-bb-t: .15em;

.mainbar {
  color: $neron-fg;
  background-color: $bar-bg;
}

.unfocused-monitor {
  padding: 0 10px;
  background-color: darkred;
}

.workspace-entry {
  padding: 0 .2em;
  border-bottom: $current-bb-t solid $bar-bg; /* to make text not shift position when
                                               * .current uses border-bottom too */
  &:hover {
    background-color: $middle-gray;
  }
}

.workspace-entry.current {
  font-weight: bold;
  background-color: $neron-current;
  border-bottom: $current-bb-t solid $neron-green;
}

.workspace-entry.occupied {
  color: $neron-fg;
}

.workspace-entry.empty {
  color: $neron-current;
}

.workspace-entry.active-unfocused {
  font-weight: bold;
  background-color: $neron-current;
  border-bottom: $current-bb-t solid $neron-pink;
}

.separator {
  color: $neron-current;
  margin: 0 1em;
  font-weight: bold;
}

.window-title-label {
  color: $middle-gray;
}

.time-label {
  margin: 0 10 0 0;
}



.mpd-circular-progress {
  color: $middle-gray;
  background-color: $neron-current;
}

.mpd-current-box {
  font-size: inherit;
}

.mpd-current-meta-field {
  margin: 0;
}

.mpd-current-meta-field-album {
  margin: 0;
}

.mpd-current-meta-field-elapsed {
  margin: 0 0 0 15;
}

// .mpd-current-elapsed {
//   padding: 0 10 0 10;
// }

.mpd-current-icon {
  color: $current-icon;
  margin-right: 15;
}

.mpd-current-artist-separator {
  margin: 0 8;
}
