$bar-bg: #ffffff;
$neon-green: #76ee00;

$neron-fg: #545e62;
$neron-current: #fdf6df;
$neron-comment: #a0a1a7;
$neron-cyan: #006861;
$neron-green: #316900;
$neron-orange: #964505;
$neron-pink: #b30071;
$neron-purple: #4d2eff;
$neron-red: #ba0d0d;
$neron-yellow: #615f0b;
$neron-blue: #0353c6;
$neron-cursor: #3d51c2;
$neron-warning: #7a5524;

// alacritty
$neron-black: #5a5d5c;
// $neron-blue = "#1e5ca8"
// $neron-white = "#5e5c5a"
// $neron-yellow = "#755800"

$middle-gray: #808080;
$current-icon: #666666;
