#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    format_tag_separator: " | ",
    multiple_tag_resolution_strategy: All,
    song_table_album_separator: None,
    browser_column_widths: [0, 100, 0],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    preview_label_style: (fg: "gray"),
    preview_metadata_group_style: (fg: "cyan", modifiers: "Bold"),
    tab_bar: (
        active_style: (fg: "black", bg: "gray", modifiers: "Bold"),
        inactive_style: (fg: "dark_gray"),
    ),
    highlighted_item_style: (fg: "green", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "cyan", modifiers: "Bold"),
    borders_style: (fg: "dark_gray"),
    highlight_border_style: (fg: "cyan"),
    symbols: (
        song: "S",
        dir: "D",
        playlist: "P",
        marker: "M",
        ellipsis: "...",
        song_style: (fg: "red"),
        dir_style: (fg: "cyan"),
        playlist_style: (fg: "magenta"),
    ),
    level_styles: (
        info: (fg: "cyan", bg: "black"),
        warn: (fg: "magenta", bg: "black"),
        error: (fg: "red", bg: "black"),
        debug: (fg: "green", bg: "black"),
        trace: (fg: "gray", bg: "black"),
    ),
    progress_bar: (
        symbols: ["━", "━", "┑", "─", "─"],
        track_style: (fg: "dark_gray"),
        elapsed_style: (fg: "gray"),
        thumb_style: (fg: "magenta", bg: None),
        use_track_when_empty: true,
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (fg: "dark_gray"),
        ends_style: (fg: "dark_gray"),
        thumb_style: (fg: "magenta"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "green"),
                default: (kind: Text("Unknown"), style: (fg: "green"))
            ),
            label_prop: (kind: Text("Artist"), style: (fg: "green", modifiers: "Bold")),
            width: "20%",
        ),
        (
            prop: (kind: Property(Track), style: (fg: "red"),
                default: (kind: Text("-"), style: (fg: "red"))
            ),
            label_prop: (kind: Text("#"), style: (fg: "red", modifiers: "Bold")),
            width: "6%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            label_prop: (kind: Text("Title"), style: (modifiers: "Bold")),
            width: "47%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "cyan"),
                default: (kind: Text("Unknown Album"), style: (fg: "cyan"))
            ),
            label_prop: (kind: Text("Album"), style: (fg: "cyan", modifiers: "Bold")),
            width: "20%",
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "magenta"),
                default: (kind: Text("-"), style: (fg: "magenta"))
            ),
            label_prop: (kind: Text("Length"), style: (fg: "magenta", modifiers: "Bold")),
            width: "7%",
            alignment: Right,
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "gray", modifiers: "Bold")),
                    (kind: Property(Status(StateV2())), style: (fg: "gray", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "gray", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Property(Widget(Volume)), style: (fg: "cyan"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed)), style: (fg: "gray")),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration)), style: (fg: "gray")),
                    (kind: Text(" (")),
                    (kind: Property(Status(Bitrate)), style: (fg: "gray")),
                    (kind: Text(" kbps)"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "green", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "green", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)), style: (fg: "cyan"),
                        default: (kind: Text("Unknown Album"), style: (fg: "cyan"))
                    )
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "white", modifiers: "Bold"),
                            separator_style: (fg: "gray")))
                        ),
                        style: (fg: "dark_gray")
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text("  ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    lyrics: (
        timestamp: false,
    ),
)
