(oci-container-configuration
 (provision "sabnzbd")
 (image "{{ gak_sabnzbd_image }}")
 (requirement '(file-system-/media))
 (network "starrs_net")
 (ports (list '("{{ gak_sabnzbd_port }}" . "8080")))
 (volumes
  (list '("{{ gak_media_dir }}/.config/sabnzbd/config" . "/config")
        '("{{ gak_media_dir }}/Media" . "/Media")))
 (environment
  (list '("PUID" . "{{ gak_media_uid }}")
        '("PGID" . "{{ gak_media_gid }}")
        '("UMASK" . "002")
        '("TZ" . "{{ gak_timezone }}")))
 (extra-arguments
  (list "--uidmap" "0:1:1"
        "--gidmap" "0:1:1"
        "--gidmap" "{{ gak_media_gid }}:{{ gak_media_gid }}:1")))
