(service mcron-service-type
                    (mcron-configuration
                     (jobs
                      (list #~(job "30 3 * * *"
                                   "{{ ansible_facts['user_dir'] }}/.local/bin/gak-nextcloud-backup"
                                   #:user "{{ ansible_user }}")))))
