(service mcron-service-type
                    (mcron-configuration
                     (jobs
                      (list #~(job "30 3 * * *"
                                   "/home/lobo/.local/bin/gak-nextcloud-backup"
                                   #:user "lobo")))))
